@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    font-family: 'Sniglet', cursive;
    background-color: aliceblue;
    width: 100%;
}

header{
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

main{
    text-align: center;
    margin-top: 1rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    
}

input {
    width: 100%;
    border: 1px solid rgb(27, 96, 133);
    background-color: lightblue;
    padding: 10px;
    border-radius: 8px;

}

h2{
    margin-bottom: 1rem;
}

.pagar{
    font-family: 'Sniglet', cursive;
    border-radius: 8px;
    padding: 14px 16px;
    font-size: 14px;
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    border: 2px solid rgb(27, 96, 133); 
    background-color: lightblue;
}

select{
    width: 100%;
    border: 1px solid rgb(27, 96, 133);
    background-color: lightblue;
    padding: 10px;
    border-radius: 8px;
}